<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>
      Evaluate a news article with MeaningCloud Sentiment Analysis API
    </title>
  </head>

  <body>
    <header>
      <div class="">Udacity Project</div>
      <div class="">
        <h1>
          Evaluate a news article with MeaningCloud Sentiment Analysis API
        </h1>
      </div>
    </header>

    <main>
      <section class="url-card">
        <h1>Enter a URL to find out the results</h1>
        <form>
          <input
            id="url"
            type="text"
            name="url"
            value=""
            type="url"
            placeholder="Enter URL"
          />
          <button type="submit">Submit</button>
        </form>
      </section>
      <section class="results-section"></section>
    </main>

    <footer>
      <p>Evaluate a news article with MeaningCloud Sentiment Analysis API</p>
    </footer>
    <script>
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
