form {
  border: 1px solid #545454;
  border-radius: 30px;
  padding: 40px;
  background-color: rgb(125, 219, 128);
  max-width: 32rem;
  margin: auto;
  margin-top: 20px;
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
}
